/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f2f3ee;
}

/* Text Styles */
.text-header {
  color: #866e60;
  margin: 0 auto;
  font-size: 2.5rem;
}

.text {
  line-height: 2rem;
  font-size: 1.2rem;
  color: black;
  font-weight: 500;
}

.headerAnim {
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  /* Clip Background Image */
  background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png)
    repeat-y;
  background-clip: text;
  /* Animate Background Image */
  animation: aitf 80s linear infinite;
}

.homeInfo,
.skills,
.work,
.about {
  padding: 5rem;
}

/* Sidebar Styling */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #3a4660;
  width: 10%;
  height: 100vh;
  justify-content: space-around;
  color: white;
}

.sidebar-top {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  justify-content: space-around;
  height: 70%;
}

.sidebarSocials {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30%;
}

.skillsContainer,
.aboutContainer,
.workContainer,
.homeContainer,
.flex {
  display: flex;
}

.social:hover,
.navLinks:hover {
  color: #ed8a63;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

a {
  text-decoration: none;
}

/* Contact Component Styling */
.contactContainer {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.contactContainer ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.wrapper > * {
  padding: 1em;
}

.company-info {
  background: var(--mainGreen);
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact {
  background: var(--controller);
}

/* FORM STYLES */
.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #c9e6ff;
}

.contact form button {
  background: #845007;
  border: 0;
  text-transform: uppercase;
}

.contact form button:hover,
.contact form button:focus {
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}

.contactBtn {
  font-size: 2rem;
}

.alert {
  text-align: center;
  padding: 10px;
  background: #79c879;
  color: white;
  margin-bottom: 10px;
  display: none;
}

/* Animate Background Image */
@keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
